#!/usr/bin/make -f

.PHONY: build

VERSION:=$(shell cat VERSION)
export VERSION

soname:=$(shell echo $${VERSION%%.*})
TS7680CTL_SONAME_SUFFIX:=.$(soname)
export soname
export TS7680CTL_SONAME_SUFFIX

build:
	dh $@

override_dh_auto_configure:

override_dh_prep:
	dh_prep -Xdebian/tmp

dirs:
	dh_installdirs -A
	mkdir debian/tmp
	set -e; for p in `dh_listpackages`; do \
		(cd debian/$$p; find -type d) | \
		(cd debian/tmp; xargs mkdir -p) \
	done

override_dh_clean:
	dh_clean
	TS7680CTL_SUDO= bash -xe ./build clean

override_dh_auto_build: dirs
	V=1 LDCONFIG=: TS7680CTL_SUDO= TS7680CTL_SUID=0 \
	    DESTDIR=`pwd`/debian/tmp/usr \
	    PREFIX= TS7680CTL_SUDO= \
	    bash -xe ./build

override_dh_auto_install:
	dh_install
	set -ex; for l in libts7680ctl libts7680ctlDev; do \
		ln -sf $$l.so.$${VERSION} \
			debian/libts7680ctl$$soname/usr/lib/$$l.so.$$soname; \
		ln -sf $$l.so.$${VERSION} \
			debian/libts7680ctl-dev/usr/lib/$$l.so; \
	done

%:
	dh $@
